# Dependencies
node_modules

# Build output
dist
dist-ssr

# Environment files
.env.local
.env.*.local

# Vite cache
.vite

# TypeScript incremental build cache
*.tsbuildinfo

# Editor & OS noise
.DS_Store
Thumbs.db
.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sw?
